:root {
  --mainRed: #9c160b;
  --lightRed: #f84130;
  --darkRed: #6a180d;
  --mainWhite: #ffffff;
  --mainBlack: #000000;
  --mainGrey: #2e2b2b;
  --mainDark: #1e0b0c;
  --darkRed2: #3c0c08;
  --mainYellow: #ffa400;
  --mainBlue: #441cd1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  background-size: cover;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)),
    url("./assets/images/background.jpg") center/cover fixed no-repeat;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 3rem;
  width: 3rem;
}

.card {
  padding: 2vh 2vw;
  margin: 5vh 5vw;
  width: auto;
  height: auto;
  border-radius: 0.5rem;
  background-color: rgba(248, 65, 48, 0.7) !important;
  box-shadow: 5px 5px 10px 10px var(--mainGrey);
}

.dialog {
  /* padding: 2vh 2vw;
  margin: 10vh 20vw;
  width: auto;
  height: auto; */
  border-radius: 0.5rem;
  background-color: rgba(248, 65, 48, 0.7) !important;
}

.direction {
  display: flex;
  flex-direction: row;
}

.oppositedirection {
  display: flex;
  flex-direction: column;
}

/* songs table */
.songsTable {
  position: relative;
  height: 70vh;
  width: 60vw;
  overflow: auto;
  display: block;
  margin: 0.5rem;
}

/* categories table */
.categoriesTable {
  position: relative;
  height: 60vh;
  width: 35vw;
  overflow: auto;
  display: block;
  margin: 0.5rem;
}

/* artists table */
.artistsTable {
  position: relative;
  height: 60vh;
  width: 60vw;
  overflow: auto;
  display: block;
  margin: 0.5rem;
}

/* all tables */
.table td,
th {
  text-align: center;
  font-size: 0.8rem;
}

.tableBody {
  font-size: 0.75rem;
}

/* add/update card */
.miniCard {
  border-radius: 0.5rem;
  box-shadow: 5px 5px 10px 10px var(--darkRed);
  height: auto;
}

.message {
  font-size: 0.6rem;
  height: 1.5rem;
  margin: 0.1rem;
  padding: 0.1rem;
}

.ignore {
  font-size: 0.6rem;
  height: auto;
  width: auto;
  margin: 0.3rem;
}
