:root {
  --mainRed: #9c160b;
  --darkRed: #6a180d;
  --mainWhite: #ffffff;
  --mainBlack: #000000;
  --mainDark: #1e0b0c;
  --darkRed2: #3c0c08;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  background-size: cover;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)),
    url("./assets/images/background.jpg") center/cover fixed no-repeat;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 3rem;
  width: 3rem;
}

.card {
  padding: 2vh 2vw;
  margin: 10vh 20vw;
  width: auto;
  border-radius: 0.5rem;
  background-color: rgba(156, 22, 11, 0.7) !important;
}

.direction {
  display: flex;
  flex-direction: row;
}
